@import "mixins";
@import "site-settings";

* {
    box-sizing: border-box;
}

.site-header {
    font-family: cloister_blacklight;
    line-height: 0px;
    position: relative;
}

body,
caption,
th,
td,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
    background: $bg-color;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

ol,
li {
    max-width: none;
    margin-bottom: 1rem;

    @media (min-width: 767px) {
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

textarea {
    background-color: white;
}

hr {
    width: 40%;
    text-align: center;
    // margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    color: $color;
}

body {
    margin: 0 auto;
    position: relative;
}

h1 {
    @include font-size(3, "small");

    @include for-tablet-portrait-up {
        @include font-size(3);
    }
}

h2 {
    @include font-size(2, "small");

    @include for-tablet-portrait-up {
        @include font-size(2);
    }
}

h3 {
    @include font-size(1, "small");

    @include for-tablet-portrait-up {
        @include font-size(1);
    }
}

img {
    display: block;
    width: 100%;
}
