@import 'mixins';

@mixin content {
    overflow: hidden;
    flex: 1 0;
    min-height: 100%;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@mixin container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@mixin col-center {
    @include container-fluid;
    // padding: 0 25px;

    // @include for-tablet-portrait-up {
    //     padding: 0 35px;
    // }
}

@mixin text-block-inner {
    max-width: 700px;
    width: 100%;
}

