@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

$displays: (
  vsmall: (
    font-size: 12px,
    unit: 12px * 1.3,
    scale: 1.20
  ),
  small: (
    font-size: 14px,
    unit: 15px * 1.3,
    scale: 1.25
  ),
  medium: (
    font-size: 18px,
    unit: 18px * 1.3,
    scale: 1.3
  ),
  large: (
    font-size: 20px,
    unit: 20px * 1.5,
    scale: 1.4
  )
);

@function units($x, $size: 'medium') {
    $display: map-get($displays, $size);
    @return map-get($display, 'unit') * $x;
};

@function pow($x, $y) {
    $ret: 1;

    @if $y > 0 {
      @for $i from 1 through $y {
          $ret: $ret * $x;
      }
    }

    @else {
      @for $i from $y to 0 {
          $ret: $ret / $x;
      }
    }

    @return $ret;
  }

@mixin font-size($units, $size: 'medium') {
    $display: map-get($displays, $size);
    $unit:    map-get($display, 'unit');
    $lh:      $unit;

    @while $lh < font-scale($units, $size) {
      $lh: $lh + $unit;
    }

    font-size: font-scale($units, $size);
    line-height: $lh;
};

@function font-scale($x, $size: 'medium') {
    $display:     map-get($displays, $size);
    $scale:       map-get($display, 'scale');
    $font-size:   map-get($display, 'font-size');
    @return round($font-size * pow($scale, $x));
};