@import "../mixins";
@import "../layouts";
@import "../site-settings";

#main {
    @include content;
    @include flex-col;
    @include col-center;
    @include text-block-inner;
    height: 80vh;
    width: 100vw;
}

#chapter-list {
    margin-bottom: 5em;
}
.chapter {
    text-align: right;
}

.chapter a {
    text-decoration: none;
}

.chapter-name {
    text-align: left;
    float: left;
    margin: 0 2em -1.52em 0;
}

.citation {
    margin-top: 2em;

    p,
    a {
        @include font-size(0, "small");
    }
}

h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
}

.next-prev-wrap {
    text-align: center;
    padding: 25px 0;
}

.next-prev-wrap a {
    text-decoration: none;
    margin: 2em;
}

#content img {
    max-width: 100%;
}
