@import "../mixins";
@import "../layouts";
@import "../site-settings";

#main {
    @include content;
    @include flex-col;
    @include col-center;
    @include text-block-inner;
    height: 80vh;
    width: 100vw;
}

.book {
    margin-bottom: 5em;
}

.chapter__contents {
    text-align: right;
}

.chapter__link {
    text-decoration: none;

    @include font-size(0, "medium");

    @include for-tablet-portrait-up {
        @include font-size(0);
    }
}

.chapter__name {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
}

.citation {
    margin-top: 2em;

    @include font-size(0, "small");
}

.next-prev-wrap {
    text-align: center;
    padding: 25px 0;
}

.next-prev-wrap__link {
    text-decoration: none;
    margin: 2em;

    @include font-size(0, "medium");

    @include for-tablet-portrait-up {
        @include font-size(0);
    }
}

// idk its magic sauce, fix it later
#content img {
    max-width: 100%;
}
