@import "mixins";

.content__top--none {
    margin-top: 0;
    // need to figure out best way to handle sometimes indents
    // text-indent: 0;
}

.content__bottom--none {
    margin-bottom: 0;
}

.inset__content {
    @include font-size(0, "small");
    text-indent: 0;
    text-align: justify;
    font-style: italic;
    margin: 0;
}

.page_28_left__inset__content {
    width: 30%;

    @include font-size(0, "vsmall");
    text-indent: 0;
    text-align: justify;
    font-style: italic;
    float: left;

    shape-outside: content-box;
    shape-margin: 2%;
    margin-top: 15%;
    padding-right: 5%;
}

.page_28_left__inset__quote--left {
    width: auto;
    margin: 0;
    // margin-right: 1vw;
    // transform: translate(0, 50%);
    // margin-bottom: 1vh;
    // padding-top: 10px;
}

.page_28_right__inset--center {
    width: 80%;
    margin: auto;
}

.page_28_right__inset__quote--center {
    width: fit-content;
    margin: auto;
}

.page_138_right__inset--right {
    float: right;
    width: 30%;
}

.page_138_right__inset__quote--right {
    // width: 10vw;
    width: fit-content;
    margin-left: 1vw;
}

.glas--left {
    margin-bottom: 1rem;
    text-indent: 1em;
    text-align: justify;

    @include font-size(0, "small");

    @include for-tablet-portrait-up {
        padding-left: 20vh;
        padding-right: 2vh;
    }
}

.glas--right {
    margin-bottom: 1rem;
    text-indent: 1em;
    text-align: justify;

    @include font-size(0, "medium");

    @include for-tablet-portrait-up {
        padding-left: 2vh;
        padding-right: 20vh;
    }
}

.quote {
    padding-left: 15px;
    border-left: 3px solid #ccc;
}
