@import 'mixins';

.no-top {
    margin-top: 0;
    text-indent: 0;
}

.no-bottom {
    margin-bottom: 0;
}

.inset {
    float: right;
    margin: 0;
}

.inset blockquote {
    width: 11em;
    margin: 0;
}

.glas-left {
    blockquote {
        padding-left: 15px;
        border-left: 3px solid #ccc;
    }

    p {
        @include font-size(0, 'small');
    }

    hr {
        width: 40%;
        text-align:center; 
        margin: 0 auto;
    }
}

.glas-right {
    p {
        @include font-size(0, 'medium');
    }

    hr {
        width: 40%;
        text-align:center; 
        margin: 0 auto;
    }

}

p.inset-p {
    @include font-size(0, 'small');
    text-indent: 0;
    font-style: italic;
}