{{ $left := .Page.Resources.GetMatch "left.md" }}
{{ $right := .Page.Resources.GetMatch "right.md" }}

<div class="flex-column glas--left">
{{/*   if array, loop over it  */}}
{{ if reflect.IsSlice $left.Params.display}}
  {{ $list := $left.Params.display }}
  {{ $len := len $list }}
  {{ range $i, $e := $list }}
    {{ $p := $.Page.Resources.GetMatch $e }}
    {{ $p.Content }}
    {{ with $p.Params.cite }}
      {{ $scratch := partial "cite-data.html" . }}
      {{ partial "cite-book.html" $scratch }}
    {{ end }}
    {{ if ne (add $i 1) $len }}
      <hr>
    {{ end }}
  {{ end }}
{{/*  otherwise print regular  */}}
{{ else }}
  {{ $left.Content}}
  {{ with $left.Params.cite }}
    {{ $scratch := partial "cite-data.html" . }}
    {{ partial "cite-book.html" $scratch }}
  {{ end }}
{{ end }}
</div>

<hr class="glas--divider">

<div class="flex-column glas--right">
{{ if reflect.IsSlice $right.Params.display }}
  {{ $list := $right.Params.display }}
  {{ $len := len $list }}
  {{ range $i, $e := $list }}
    {{ $p := $.Page.Resources.GetMatch $e }}
    {{ $p.Content }}
    {{ with $p.Params.cite }}
    {{/*  need to get the correct citation per entry  */}}
      {{ $scratch := partial "cite-data.html" . }}
    {{ partial "cite-book.html" $scratch }}
  {{ end }}
  {{ if ne (add $i 1) $len }}
    <hr>
  {{ end }}
{{ end }}
{{ else }}
  {{ $right.Content}}
  {{ with $right.Params.cite }}
    {{ $scratch := partial "cite-data.html" . }}
    {{ partial "cite-book.html" $scratch }}
  {{ end }}
{{ end }}
</div>