{{ with .Params }}
<div id="details-module" class="module toggle-wrap">
    <div id="details-module_heading" class="mod-header">
        <h4 class="toggle-title" id="details-module-label">Details</h4>
        <ul class="ops"></ul>
    </div>
    <div class="mod-content">
        <ul id="issuedetails" class="property-list two-cols">
            <li class="item">
                <div class="wrap">
                    <strong class="name" title="Type">
                        <label for="issuetype">Type:</label>
                    </strong>
                    {{ $icon := partial "jira/icon-task-type" .tickettype}}
                    <span id="type-val" class="value">
                        <img alt="" height="16"
                            src="{{$icon.RelPermalink}}"
                            title="{{.tickettype}}" width="16"> {{.tickettype}}
                    </span>
                </div>
            </li>
            <li class="item item-right">
                <div class="wrap">
                    <strong class="name" title="Status">Status:</strong>
                    <span id="status-val" class="value">
                        <span
                            class=" jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-yellow jira-issue-status-lozenge-indeterminate jira-issue-status-lozenge-max-width-medium"
                            data-tooltip="<span class=&quot;jira-issue-status-tooltip-title&quot;>{{.status}}</span>">{{.status}}</span> </span>
                    <span class="status-view">(<a
                            href=""
                            class="issueaction-viewworkflow jira-workflow-designer-link new-workflow-designer"
                            title="HWE: Hardware Engineering [Pre-Qual] Issue Type Workflow: {{.id}}"
                            data-track-click="issue.viewworkflow" resolved="">View Workflow</a>)</span>
                </div>
            </li>

            <li class="item new">
                <div class="wrap">
                    <strong class="name" title="Priority">
                        <label for="priority-field">Priority:</label>
                    </strong>
                    {{ $icon := partial "jira/icon-priority" .priority}}
                    {{/*  {{ $icon := resources.Get (printf "jira/icons/eye.png")}}  */}}

                    <span id="priority-val" class="value editable-field inactive" title="Click to edit">
                        <img alt="" height="16" src="{{$icon.RelPermalink}}" title="{{.priority}}" width="16">
                        {{.priority}} <span class="overlay-icon aui-icon aui-icon-small aui-iconfont-edit"></span></span>
                </div>
            </li>
            <li class="item item-right">
                <div class="wrap">
                    <strong class="name" title="Resolution">Resolution:</strong>
                    <span id="resolution-val" class="value unresolved">
                        {{.resolution}}
                    </span>
                </div>
            </li>


            <li class="item full-width">
                <div class="wrap" id="wrap-labels">
                    <strong class="name" title="Labels">
                        <label for="labels-textarea">Labels:</label>
                    </strong>
                    <div class="labels-wrap value editable-field inactive" title="Click to edit">
                        {{/*  labels go here  */}}
                        <span class="labels" id="labels-12412417-value">None</span>
                        <span class="overlay-icon aui-icon aui-icon-small aui-iconfont-edit"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{{end}}