<div id="viewissuesidebar" class="aui-item issue-side-column">
    <div id="peoplemodule" class="module toggle-wrap expanded">
        <div id="peoplemodule_heading" class="mod-header">
            <h4 class="toggle-title" id="peoplemodule-label">People</h4>
        </div>
        <div class="mod-content">
            
            <div class="item-details people-details" id="peopledetails">
                {{ range $key, $value := .Params.people }}

                {{/*  {{ range (slice "assignee" "reporter") }}  */}}
            {{/*  {{ $key := . }}   */}}
            {{/*  HUH  */}}
            <dl>
                <dt title="{{$key | title}}">
                    <label for="assignee-field">{{$key | title}}:</label>
                </dt>
                <dd>
                    <span id="assignee-val" class="view-issue-field">
                        {{with (index $.Params $key)}}
                        <span class="user-hover" id="issue_summary_{{$key}}_{{.shortname}}" rel="{{.shortname}}">
                            <span class="aui-avatar aui-avatar-small"><span class="aui-avatar-inner"><img
                                        src="{{.avatar.uri}}" alt="{{.shortname}}"></span></span>
                            {{.name}}
                        </span>
                        <span class="overlay-icon aui-icon aui-icon-small aui-iconfont-edit"></span></span>
                    {{/*  <span class="assign-to-me-link">
                        <a id="assign-to-me" class="issueaction-assign-to-me" href=""
                            title="Assign this issue to me">Assign to me</a>
                    </span>  */}}
                </dd>
                {{end}}
            </dl>
            {{ end }}
            </div>
        </div>
    </div>
    <div id="datesmodule" class="module toggle-wrap">
        <div id="datesmodule_heading" class="mod-header"><button class="aui-button toggle-title" aria-label="Dates"
                aria-controls="datesmodule" aria-expanded="true" resolved=""><svg xmlns="http://www.w3.org/2000/svg"
                    width="14" height="14">
                    <g fill="none" fill-rule="evenodd">
                        <path
                            d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                            fill="#344563"></path>
                    </g>
                </svg></button>
            <h4 class="toggle-title" id="datesmodule-label">Dates</h4>
            <ul class="ops"></ul>
        </div>
        <div class="mod-content">
            <div class="item-details">
                <dl class="dates">
                    <dt>
                        Created:
                    </dt>
                    <dd class="date user-tz" title="21/Feb/2023 12:44 PM">
                        <span data-name="Created" id="created-val" data-fieldtype="datetime">
                            <time class="livestamp" datetime="2023-02-21T12:44:27-0800">21/Feb/2023 12:44 PM</time>
                        </span>
                    </dd>
                </dl>
                <dl class="dates">
                    <dt>
                        Updated:
                    </dt>
                    <dd class="date user-tz" title="21/Feb/2023 1:29 PM">
                        <span data-name="Updated" id="updated-val" data-fieldtype="datetime">
                            <time class="livestamp" datetime="2023-02-21T13:29:07-0800">21/Feb/2023 1:29 PM</time>
                        </span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>