<div id="activitymodule" class="module toggle-wrap">
    <h4 class="toggle-title" id="activitymodule-label">Activity</h4>
    <ul class="ops"></ul>
</div>
<div class="mod-content">
    <div class="tabwrap aui-tabs horizontal-tabs aui-tabs-disabled">
        <ul id="issue-tabs" class="tabs-menu">

            <li class="menu-item " id="all-tabpanel" data-id="all-tabpanel"
                data-key="com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel" data-label="All"
                data-href="/browse/HWE-12204?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel">
                <a id="all-tabpanel"
                    href="/browse/HWE-12204?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel"
                    class="ajax-activity-content">All</a>
            </li>

            <li class="menu-item  active-tab active " id="comment-tabpanel" data-id="comment-tabpanel"
                data-key="com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel" data-label="Comments"
                data-href="/browse/HWE-12204?page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel">
                <a tabindex="0">Comments</a>
            </li>

            <li class="menu-item " id="changehistory-tabpanel" data-id="changehistory-tabpanel"
                data-key="com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel" data-label="History"
                data-href="/browse/HWE-12204?page=com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel">
                <a id="changehistory-tabpanel"
                    href="/browse/HWE-12204?page=com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel"
                    class="ajax-activity-content">History</a>
            </li>

            <li class="menu-item " id="activity-stream-issue-tab" data-id="activity-stream-issue-tab"
                data-key="com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab" data-label="Activity"
                data-href="/browse/HWE-12204?page=com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab">
                <a id="activity-stream-issue-tab"
                    href="/browse/HWE-12204?page=com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab"
                    class="ajax-activity-content">Activity</a>
            </li>

            <li class="menu-item " id="transitions-summary-tabpanel" data-id="transitions-summary-tabpanel"
                data-key="com.googlecode.jira-suite-utilities:transitions-summary-tabpanel" data-label="Transitions"
                data-href="/browse/HWE-12204?page=com.googlecode.jira-suite-utilities:transitions-summary-tabpanel">
                <a id="transitions-summary-tabpanel"
                    href="/browse/HWE-12204?page=com.googlecode.jira-suite-utilities:transitions-summary-tabpanel"
                    class="ajax-activity-content">Transitions</a>
            </li>
        </ul>
        <div class="tabs-pane active-pane"></div>
    </div>
    <div class="issuePanelWrapper">
        <div class="issuePanelProgress"></div>
        <div class="issuePanelContainer" id="issue_actions_container">
            {{ with .Params.comments }}
            {{ range . }}
                {{- partial "jira/ticket-comment" . -}}
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>