{{ define "main" }}
<main>
    <div class="flex-container">
        <div class="flex-column flex-column--centered">
            <div class="show-video-titles">
                {{ range .Pages }}
                <div class="video-info">
                    {{ $fname := .Resources.GetMatch "title*" }}
                    <img class="video-img" src="{{ $fname.RelPermalink }}" alt="">
                    <div class="video-header">
                        <a class="video-link" href="{{.RelPermalink}}">
                            <h2 class="video-title">{{.Title}} ({{.Params.released}})</h2>
                        </a>
                        <div class="watch-link">
                            <a href="https://vimeo.com/{{.Params.vimeoid}}">watch here</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}