<!-- lots of data wrangling -->
{{ $scratch := . }}

{{/*  we set all this in the cite-data partial for some reason  */}}

<!-- here's where the html is generated -->

{{/*  type: book  */}}
{{ $type := $scratch.Get "type"}}
{{/*  Last Name, First Name. *Title of Book.* City of Publication, Publisher, Publication Date.  */}}
{{ if eq $type "book"}}
<div class="citation">
    {{ with $scratch.Get "author"}}{{.}}.{{ end }}
    {{ with $scratch.Get "title"}}<em>{{.}}</em>.{{ end }}
    {{ with $scratch.Get "publisher"}}{{.}},{{ end }}
    {{ with $scratch.Get "year"}}{{.}}.{{ end }}
</div>
{{ end }}


{{/*  type: article-journal  */}}
{{/*  Author(s). "Title of Article." *Title of Journal*, Volume, Issue, Year, pages.  */}}
{{ if eq $type "article-journal"}}
<div class="citation">
    {{ with $scratch.Get "author"}}{{.}}.{{ end }}
    {{ with $scratch.Get "title"}}"{{.}}."{{ end }}
    {{ with $scratch.Get "periodical"}}<em>{{.}}</em>.{{ end }}
    {{ with $scratch.Get "publisher"}}{{.}}, {{ end }}
    {{ with $scratch.Get "volume"}}vol. {{.}}, {{ end }}
    {{ with $scratch.Get "issue"}}no. {{.}},{{ end }}
    {{ with $scratch.Get "year"}}{{.}},{{ end }}
    {{ with $scratch.Get "page"}}{{.}}.{{end}}   
</div>
{{ end }}

{{/*  type: interview  */}}
{{/*  Zinkievich, Craig. Interview by Gareth Von Kallenbach. *Skewed & Reviewed*, 27 Apr. 2009, www.arcgames.com/en/games/star-trek-online/news/detail/1056940-skewed-%2526-reviewed-interviews-craig. Accessed 15 May 2009.  */}}
{{ if eq $type "interview"}}
<div class="citation">
    {{ with $scratch.Get "author"}}{{.}}.{{ end }}
    {{ with $scratch.Get "title"}}{{.}}.{{ end }}
    {{ with $scratch.Get "sitetitle"}}<em>{{.}}</em>,{{ end }}
    {{ with $scratch.Get "year"}}{{.}},{{ end }}
    {{ with $scratch.Get "url"}}<a href="{{.}}">{{.}}</a>. {{ end }}
    {{ with $scratch.Get "accessed"}} Accessed {{.}}.{{ end }}
</div>
{{ end }}

{{/*  type: motion_picture  */}}
{{/*  Speed Racer. Directed by Lana Wachowski and Lilly Wachowski, performances by Emile Hirsch, Nicholas Elia, Susan Sarandon, Ariel Winter, and John Goodman, Warner Brothers, 2008.  */}}
{{ if eq $type "motion_picture"}}
<div class="citation">
    {{ with $scratch.Get "title"}}<em>{{.}}</em>. {{ end }}
    {{ with $scratch.Get "director"}}Directed by {{.}},{{ end }}
    {{ with $scratch.Get "publisher"}}{{.}}, {{ end }}
    {{ with $scratch.Get "year"}}{{.}}.{{ end }}
</div>
{{ end }}

