<!-- lots of data wrangling -->
{{ $scratch := . }}
{{/*  {{ $key := $.Params.cite }}

{{ with $key }}
    {{ $refs := index $.Site.Data.bibliography.references}}
    {{ range where $refs "id" $key }}
    {{ $current := . }}
        <!-- set title -->
        {{ if $current.title}}
            {{ $scratch.Set "title" $current.title }}
        {{ end }}
        
        <!-- set publisher -->
        {{ if $current.publisher}}
            {{ $scratch.Set "publisher" $current.publisher }}
        {{ end }}

        <!-- set author -->
        {{ if $current.author}}
            {{ range first 1 $current.author}}
                {{ $author := (printf "%s, %s" .family .given) }}
                {{ $scratch.Set "author" $author }}
            {{ end }}
        {{ end }}

        <!-- set year -->
        {{ if $current.issued}}
            {{ range first 1 $current.issued}}
                {{ $year := .year }}
                {{ $scratch.Set "year" $year }}
            {{ end }}
        {{ end }}

    {{ end }}
{{ end }}  */}}



<!-- here's where the html is generated -->
<div class="citation">
    {{ with $scratch.Get "author"}}{{.}}.{{ end }}
    {{ with $scratch.Get "title"}}<em>{{.}}</em>.{{ end }}
    {{ with $scratch.Get "publisher"}}{{.}}.{{ end }}
    {{ with $scratch.Get "year"}}{{.}}.{{ end }}
</div>