<!-- basically we can say that the title of a section's _index.md is a chapter or w/e -->

{{ $section := where .Site.RegularPages "Params.chapter" "lord"}}
{{range first 1 ($section.ByTitle) }}
<a title="Next page in {{ .Section }}" href="{{ .Permalink }}">{{ .Title }}</a>
{{end}}


{{ $section := where .Site.RegularPages "Params.chapter" "excellent"}}
{{range first 1 ($section.ByTitle) }}
chapter: excellent 
<a title="Next page in {{ .Section }}" href="{{ .Permalink }}">{{ .Title }}</a>
{{end}}