{{ $baseUrl := .Site.BaseURL }}
<nav class="navbar">
    {{/*  could put this also in the config.toml  */}}
    <div><a href="{{ $baseUrl }}" class="navbar__homelink"><h1 class='site-header'>Wizard Woes</h1></a></div>
    <div class="navbar__entries">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <div class="navbar__entry{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </div>
        {{end}}

    </div>
</nav>
