<!-- this is just the homepage -->
<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div id="main">
        <!-- too lazy to put the content in _index.md and change the css -->
        woe be <br>
        a wizard <br>

        {{- partial "chapter-list.html" . -}}
        {{ $thief := resources.Get "Wizard_Thief.png" }}
        <img class="wizard" src="{{ $thief.RelPermalink }}" alt="">


    </div>
    {{- partial "footer.html" . -}}

</body>

</html>