<!-- this is just the homepage -->
<!DOCTYPE html>
<html>
{{ partialCached "head" . }}

<body>
    {{ partial "header" . }}
    <div id="main">
        <!-- too lazy to put the content in _index.md and change the css -->
        woe be <br>
        a wizard <br>

        <hr>

        {{ partial "recent-posts" . }}
        {{ $thief := resources.Get "Wizard_Thief.png" }}
        <img class="wizard" src="{{ $thief.RelPermalink }}" alt="">


    </div>
    {{ partialCached "footer" . }}

</body>

</html>