<!-- lots of data wrangling -->
{{ $scratch := newScratch }}
{{ $key := . }}

{{ with $key }}
    {{ with index site.Data.bibliography.references }}
        {{ range where . "id" $key }}
            {{ $current := . }}

            <!-- set type -->
            {{ with $current.type}}
                {{ $scratch.Set "type" . }}
            {{ end }}

            <!-- set title -->
            {{ with $current.title}}
                {{ $scratch.Set "title" . }}
            {{ end }}
            
            <!-- set publisher -->
            {{ with $current.publisher}}
                {{ $scratch.Set "publisher" . }}
            {{ end }}

            <!-- set author -->
            {{ with $current.author}}
                {{ range . }}
                    {{ $author := (printf "%s, %s" .family .given) }}
                    {{ $scratch.Set "author" $author }}
                {{ end }}
            {{ end }}

            <!-- set director -->
            {{ with $current.director}}
                {{ range . }}
                    {{ $director := (printf "%s, %s" .given .family) }}
                    {{ $scratch.Set "director" $director }}
                {{ end }}
            {{ end }}

            <!-- set year -->
            {{ with $current.issued}}
                {{ range . }}
                    {{ $year := .year }}
                    {{ $scratch.Set "year" $year }}
                    {{/*  this is where we would set month and day but im lazy  */}}
                {{ end }}
            {{ end }}

            <!-- set periodical -->
            {{/*  go has issues with keys that have '-' in the name  */}}
            {{/*  so we use index + ""  */}}
            {{ with index $current "container-title"}}
                {{ $scratch.Set "periodical" . }}
            {{ end }}

            <!-- set issue number -->
            {{ with $current.issue}}
                {{ $scratch.Set "issue" . }}
            {{ end }}

            <!-- set volume number -->
            {{ with $current.volume}}
                {{ $scratch.Set "volume" . }}
            {{ end }}

            <!-- set page -->
            {{ with $current.page}}
                {{ $scratch.Set "page" . }}
            {{ end }}

            <!-- set URL -->
            {{ with $current.URL}}
                {{ $scratch.Set "url" . }}
            {{ end }}

            {{ with index $current "title-short"}}
                {{ $scratch.Set "sitetitle" . }}
            {{ end }}

        {{ end }}
    {{ end }}

{{ end }}
{{ return $scratch }}