<!-- lots of data wrangling -->
{{ $scratch := newScratch }}
{{ $key := . }}

{{ with $key }}
    {{ with index site.Data.bibliography.references }}
        {{ range where . "id" $key }}
            {{ with . }}
                {{ $test := (dict
                    "type" (default "" .type)
                    "title" (default "" .title)
                    "publisher" (default "" .publisher)
                    "author" (delimit (apply .author "partial" "func/transform-author-name" ".") " ")
                    "director" (delimit (apply .director "partial" "func/transform-director-name" ".") " ")
                    "year" (delimit (apply .issued "partial" "func/transform-year" ".") " ")
                    "periodical" (default "" (index . "container-title"))
                    "issue" (default "" .issue)
                    "volume" (default "" .volume)
                    "page" (default "" .page)
                    "url" (default "" .URL)
                    "sitetitle" (default "" (index . "title-short"))
                )
                }}
            {{ $scratch.Set "cparams" $test}}
            {{ end }}

        {{ end }}
    {{ end }}

{{ end }}
{{ return $scratch }}