<!-- lots of data wrangling -->
{{ $scratch := newScratch }}
{{ $key := .Get 0}}

{{ $refs := index .Site.Data.bibliography.references}}
{{ range where $refs "id" $key }}
{{ $current := . }}
    <!-- set type -->
    {{ if $current.type}}
        {{ $scratch.Set "type" $current.type }}
    {{ end }}

    <!-- set title -->
    {{ if $current.title}}
        {{ $scratch.Set "title" $current.title }}
    {{ end }}

    <!-- set publisher -->
    {{ if $current.publisher}}
        {{ $scratch.Set "publisher" $current.publisher }}
    {{ end }}

    <!-- set author -->
    {{ if $current.author}}
        {{ range first 1 $current.author}}
            {{ $author := (printf "%s, %s" .family .given) }}
            {{ $scratch.Set "author" $author }}
        {{ end }}
    {{ end }}

    <!-- set director -->
    {{ if $current.director}}
        {{ range first 1 $current.director}}
            {{ $director := (printf "%s %s" .given .family) }}
            {{ $scratch.Set "director" $director }}
        {{ end }}
    {{ end }}

    <!-- set year -->
    {{ if $current.issued}}
        {{ range first 1 $current.issued}}
            {{ $year := .year }}
            {{ $scratch.Set "year" $year }}
        {{ end }}
    {{ end }}

    <!-- set periodical -->
    {{/*  go has issues with keys that have '-' in the name  */}}
    {{/*  so we use index + ""  */}}
    {{ if index $current "container-title"}}
        {{ $scratch.Set "periodical" (index $current "container-title") }}
    {{ end }}

    <!-- set issue number -->
    {{ if $current.issue}}
        {{ $scratch.Set "issue" $current.issue }}
    {{ end }}

    <!-- set volume number -->
    {{ if $current.volume}}
        {{ $scratch.Set "volume" $current.volume }}
    {{ end }}

    <!-- set page -->
    {{ if $current.page}}
        {{ $scratch.Set "page" $current.page }}
    {{ end }}

    <!-- set URL -->
    {{ if $current.URL}}
        {{ $scratch.Set "url" $current.URL }}
    {{ end }}

    <!-- set site name, hack using title-short field -->
    {{/*  go has issues with keys that have '-' in the name  */}}
    {{/*  so we use index + ""  */}}
    {{ if index $current "title-short"}}
        {{ $scratch.Set "sitetitle" (index $current "title-short") }}
    {{ end }}



{{ end }}



<!-- here's where the html is generated -->

{{/*  type: book  */}}
{{ $type := $scratch.Get "type"}}
{{/*  Last Name, First Name. *Title of Book.* City of Publication, Publisher, Publication Date.  */}}
{{ if eq $type "book"}}
<div class="citation">
    {{ with $scratch.Get "author"}}{{.}}.{{ end }}
    {{ with $scratch.Get "title"}}<em>{{.}}</em>.{{ end }}
    {{ with $scratch.Get "publisher"}}{{.}},{{ end }}
    {{ with $scratch.Get "year"}}{{.}}.{{ end }}
</div>
{{ end }}


{{/*  type: article-journal  */}}
{{/*  Author(s). "Title of Article." *Title of Journal*, Volume, Issue, Year, pages.  */}}
{{ if eq $type "article-journal"}}
<div class="citation">
    {{ with $scratch.Get "author"}}{{.}}.{{ end }}
    {{ with $scratch.Get "title"}}"{{.}}."{{ end }}
    {{ with $scratch.Get "periodical"}}<em>{{.}}</em>.{{ end }}
    {{ with $scratch.Get "publisher"}}{{.}},{{ end }}
    {{ with $scratch.Get "volume"}} vol. {{.}},{{ end }}
    {{ with $scratch.Get "issue"}} no. {{.}},{{ end }}
    {{ with $scratch.Get "year"}}{{.}},{{ end }}
    {{ with $scratch.Get "page"}}{{.}}.{{end}}   
</div>
{{ end }}

{{/*  type: interview  */}}
{{/*  Zinkievich, Craig. Interview by Gareth Von Kallenbach. *Skewed & Reviewed*, 27 Apr. 2009, www.arcgames.com/en/games/star-trek-online/news/detail/1056940-skewed-%2526-reviewed-interviews-craig. Accessed 15 May 2009.  */}}
{{ if eq $type "interview"}}
<div class="citation">
    {{ with $scratch.Get "author"}}{{.}}.{{ end }}
    {{ with $scratch.Get "title"}}{{.}}.{{ end }}
    {{ with $scratch.Get "sitetitle"}}<em>{{.}}</em>,{{ end }}
    {{ with $scratch.Get "year"}}{{.}},{{ end }}
    {{ with $scratch.Get "url"}}<a href="{{.}}">{{.}}</a>. {{ end }}
    {{ with $scratch.Get "accessed"}} Accessed {{.}}.{{ end }}
</div>
{{ end }}

{{/*  type: motion_picture  */}}
{{/*  *Speed Racer.* Directed by Lana Wachowski and Lilly Wachowski, performances by Emile Hirsch, Nicholas Elia, Susan Sarandon, Ariel Winter, and John Goodman, Warner Brothers, 2008.  */}}
{{ if eq $type "motion_picture"}}
<div class="citation">
    {{ with $scratch.Get "title"}}<em>{{.}}</em>. {{ end }}
    {{ with $scratch.Get "director"}}Directed by {{.}},{{ end }}
    {{ with $scratch.Get "publisher"}}{{.}}, {{ end }}
    {{ with $scratch.Get "year"}}{{.}}.{{ end }}
</div>
{{ end }}