<!-- lots of data wrangling -->
{{ $scratch := newScratch }}
{{ $key := .Get 0}}

{{ $refs := index .Site.Data.bibliography.references}}
{{ range where $refs "id" $key }}
    {{ with . }}
        {{ $test := (dict
            "type" (default "" .type)
            "title" (default "" .title)
            "publisher" (default "" .publisher)
            "author" (delimit (apply .author "partial" "func/transform-author-name" ".") " ")
            "director" (delimit (apply .director "partial" "func/transform-director-name" ".") " ")
            "year" (delimit (apply .issued "partial" "func/transform-year" ".") " ")
            "periodical" (default "" (index . "container-title"))
            "issue" (default "" .issue)
            "volume" (default "" .volume)
            "page" (default "" .page)
            "url" (default "" .URL)
            "sitetitle" (default "" (index . "title-short"))
        )
        }}
        {{ $scratch.Set "cparams" $test}}
    {{ end }}
{{end}}



<!-- here's where the html is generated -->
{{ with $scratch.Get "cparams" }}
    <div class="citation">
    {{/* type: book */}}
    {{/* Last Name, First Name. *Title of Book.* City of Publication, Publisher, Publication Date. */}}
    {{ if eq .type "book"}}
        {{ with .author }}{{.}}.{{ end }}
        {{ with .title}}<em>{{.}}</em>.{{ end }}
        {{ with .publisher}}{{.}},{{ end }}
        {{ with .year}}{{.}}.{{ end }}
    {{ end }}


    {{/* type: article-journal */}}
    {{/* Author(s). "Title of Article." *Title of Journal*, Volume, Issue, Year, pages. */}}
    {{ if eq .type "article-journal"}}
        {{ with .author }}{{.}}.{{ end }}
        {{ with .title }}"{{.}}."{{ end }}
        {{ with .periodical }}<em>{{.}}</em>.{{ end }}
        {{ with .publisher }}{{.}}, {{ end }}
        {{ with .volume }}vol. {{.}}, {{ end }}
        {{ with .issue }}no. {{.}},{{ end }}
        {{ with .year }}{{.}},{{ end }}
        {{ with .page }}{{.}}.{{end}}
    {{ end }}

    {{/* type: interview */}}
    {{/* Zinkievich, Craig. Interview by Gareth Von Kallenbach. *Skewed & Reviewed*, 27 Apr. 2009,
    www.arcgames.com/en/games/star-trek-online/news/detail/1056940-skewed-%2526-reviewed-interviews-craig. Accessed 15 May
    2009. */}}
    {{ if eq .type "interview"}}
        {{ with .author }}{{.}}.{{ end }}
        {{ with .title }}{{.}}.{{ end }}
        {{ with .sitetitle }}<em>{{.}}</em>,{{ end }}
        {{ with .year }}{{.}},{{ end }}
        {{ with .url }}<a href="{{.}}">{{.}}</a>. {{ end }}
        {{ with .accessed }} Accessed {{.}}.{{ end }}
    {{ end }}

    {{/* type: motion_picture */}}
    {{/* Speed Racer. Directed by Lana Wachowski and Lilly Wachowski, performances by Emile Hirsch, Nicholas Elia, Susan
    Sarandon, Ariel Winter, and John Goodman, Warner Brothers, 2008. */}}
    {{ if eq .type "motion_picture"}}
        {{ with .title }}<em>{{.}}</em>. {{ end }}
        {{ with .director }}Directed by {{.}},{{ end }}
        {{ with .publisher }}{{.}}, {{ end }}
        {{ with .year }}{{.}}.{{ end }}
    {{ end }}
    </div>

{{ end }}
